@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.movieDetails__bottom .facts span,
.movieDetails__bottom .facts,
.movieDetails__bottom .header h2,
.movieDetails__container .poster .blurred,
.consensus .user_score_chart .percent span,
.consensus .user_score_chart .percent,
.content,
.movieList .list__container,
.header__image,
.flexBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

.html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  /*  overflow: hidden; */
}
body.ar {
  direction: rtl;
}

.main {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main__container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 5px;
}
.main__containerFluid {
  width: 100%;
}
.main ul,
.main ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main em {
  font-style: normal;
  line-height: 1;
}
.main a {
  text-decoration: none;
}
.main b,
.main strong {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.main *,
.main *:before,
.main *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.bodyNoScroll {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .bodyNoScroll {
    position: fixed;
  }
}

.flexBox-reverse {
  flex-direction: row-reverse;
}

.noDataFound {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  padding: 50px 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background: #f6f3f3;
}
@media screen and (max-width: 767px) {
  .noDataFound {
    font-size: 12px;
  }
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.icon::after {
  content: "";
  font-family: normal;
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: #000000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.arrowDown::after {
  content: "\e901";
  color: #333333;
}

.closeBtn {
  width: 20px;
  height: 20px;
}
.closeBtn::after {
  content: "\e902";
  font-family: normal !important;
  color: #000000;
  font-style: initial;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 15px;
  width: 23px;
  height: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  color: #4d4d4d;
  visibility: hidden;
}
.popup.active {
  visibility: visible;
  background: rgba(0, 0, 0, 0.8);
}
.popup.active .popup-modal {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
.popup .popup-modal {
  position: relative;
  background-color: #ffffff;
  margin: 0px auto;
  visibility: hidden;
  overflow: 0;
  opacity: 0;
  transition: all 0.3s ease;
  max-width: 460px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  /* @media screen and (max-width: $media-mobile-max) {
          position: absolute;
          left: 0;
          right: 0;
          margin: 0;
          max-width: 100% !important;
          width: 100%;

          .popup-modal-bg {
              max-width: 100% !important;
              padding-top: 50px !important;
          }

          &:before {
              content: "";
              position: absolute;
              top: 0;
              width: 100%;
              height: 3em;
              background-color: $white;
              transform: skewY(-3.4deg);
              transform-origin: 0 0;
              left: 0;
              z-index: 0;
          }
      } */
}
@media screen and (max-width: 480px) {
  .popup .popup-modal {
    max-width: 300px;
  }
}
.popup .popup-modal-bg {
  padding: 20px;
  max-width: 585px;
  min-height: 206px;
  position: relative;
}
.popup .popup-modal .btnBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
}
.popup .popup-modal .popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 18px;
  /* @media screen and (max-width: $media-mobile-max) {
            top: 2%;
            //   border: 1px solid $primary;
            min-width: 92px;
            padding: 5px;
            text-align: center;
            right: 20px;
            text-transform: uppercase;
        } */
}
.popup .popup-modal .popup-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.popup .popup-modal .popup-body .alert {
  flex-basis: 92px;
  width: 92px;
  height: 80px;
}
.popup .popup-modal .popup-body .alert::after {
  content: "\e910";
  font-size: 60px;
  color: #000000;
}
.popup .popup-modal .popup-body p {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  flex-basis: 70%;
  width: 70%;
}
@media screen and (max-width: 480px) {
  .popup .popup-modal .popup-body p {
    font-size: 20px;
  }
}

.popup-backdrop {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
}
.modal-backdrop.active {
  visibility: visible;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.tooltip::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%) rotate(45deg);
  -moz-transform: translateX(50%) rotate(45deg);
  -ms-transform: translateX(50%) rotate(45deg);
  -o-transform: translateX(50%) rotate(45deg);
  transform: translateX(50%) rotate(45deg);
  visibility: hidden;
  opacity: 0;
}
.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover .tooltipBox {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltipBox {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #ffffff;
  text-transform: initial;
  width: 420px;
  top: -117px;
  height: 100px;
  right: 0;
  z-index: 11;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  visibility: hidden;
  opacity: 0;
}
.tooltip .tooltipBox .header {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
}
.tooltip .tooltipBox .body {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  margin-top: 2px;
}

.disable {
  cursor: default !important;
  pointer-events: none;
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  -ms-filter: grayscale(90%);
  -o-filter: grayscale(90%);
  background: #afb6bc !important;
  border-color: #afb6bc;
  box-shadow: none;
  color: #ffffff;
}

.loader-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
  display: none;
}
.loader-wrap.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.loader-wrap .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  z-index: 1;
  animation: rotatePreloader 2s infinite ease-in;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader-wrap .loader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.loader-wrap .loader div::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  width: 10%;
  height: 10%;
  background-color: #333333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
.loader div:nth-child(1) {
  transform: rotateZ(0deg);
  animation: rotateCircle1 2s infinite linear;
  z-index: 9;
}

@keyframes rotateCircle1 {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 1;
    transform: rotateZ(36deg);
  }
  7% {
    transform: rotateZ(0deg);
  }
  57% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(2) {
  transform: rotateZ(36deg);
  animation: rotateCircle2 2s infinite linear;
  z-index: 8;
}

@keyframes rotateCircle2 {
  5% {
    opacity: 0;
  }
  5.0001% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
  12% {
    transform: rotateZ(-36deg);
  }
  62% {
    transform: rotateZ(-36deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(3) {
  transform: rotateZ(72deg);
  animation: rotateCircle3 2s infinite linear;
  z-index: 7;
}

@keyframes rotateCircle3 {
  10% {
    opacity: 0;
  }
  10.0002% {
    opacity: 1;
    transform: rotateZ(-36deg);
  }
  17% {
    transform: rotateZ(-72deg);
  }
  67% {
    transform: rotateZ(-72deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(4) {
  transform: rotateZ(108deg);
  animation: rotateCircle4 2s infinite linear;
  z-index: 6;
}

@keyframes rotateCircle4 {
  15% {
    opacity: 0;
  }
  15.0003% {
    opacity: 1;
    transform: rotateZ(-72deg);
  }
  22% {
    transform: rotateZ(-108deg);
  }
  72% {
    transform: rotateZ(-108deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(5) {
  transform: rotateZ(144deg);
  animation: rotateCircle5 2s infinite linear;
  z-index: 5;
}

@keyframes rotateCircle5 {
  20% {
    opacity: 0;
  }
  20.0004% {
    opacity: 1;
    transform: rotateZ(-108deg);
  }
  27% {
    transform: rotateZ(-144deg);
  }
  77% {
    transform: rotateZ(-144deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(6) {
  transform: rotateZ(180deg);
  animation: rotateCircle6 2s infinite linear;
  z-index: 4;
}

@keyframes rotateCircle6 {
  25% {
    opacity: 0;
  }
  25.0005% {
    opacity: 1;
    transform: rotateZ(-144deg);
  }
  32% {
    transform: rotateZ(-180deg);
  }
  82% {
    transform: rotateZ(-180deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(7) {
  transform: rotateZ(216deg);
  animation: rotateCircle7 2s infinite linear;
  z-index: 3;
}

@keyframes rotateCircle7 {
  30% {
    opacity: 0;
  }
  30.0006% {
    opacity: 1;
    transform: rotateZ(-180deg);
  }
  37% {
    transform: rotateZ(-216deg);
  }
  87% {
    transform: rotateZ(-216deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(8) {
  transform: rotateZ(252deg);
  animation: rotateCircle8 2s infinite linear;
  z-index: 2;
}

@keyframes rotateCircle8 {
  35% {
    opacity: 0;
  }
  35.0007% {
    opacity: 1;
    transform: rotateZ(-216deg);
  }
  42% {
    transform: rotateZ(-252deg);
  }
  92% {
    transform: rotateZ(-252deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(9) {
  transform: rotateZ(288deg);
  animation: rotateCircle9 2s infinite linear;
  z-index: 1;
}

@keyframes rotateCircle9 {
  40% {
    opacity: 0;
  }
  40.0008% {
    opacity: 1;
    transform: rotateZ(-252deg);
  }
  47% {
    transform: rotateZ(-288deg);
  }
  97% {
    transform: rotateZ(-288deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
.loader div:nth-child(10) {
  transform: rotateZ(324deg);
  animation: rotateCircle10 2s infinite linear;
  z-index: 0;
}

@keyframes rotateCircle10 {
  45% {
    opacity: 0;
  }
  45.0009% {
    opacity: 1;
    transform: rotateZ(-288deg);
  }
  52% {
    transform: rotateZ(-324deg);
  }
  102% {
    transform: rotateZ(-324deg);
  }
  100% {
    transform: rotateZ(-324deg);
    opacity: 1;
  }
}
_:-ms-fullscreen,
:root .popup .chalng.popup-modal .popup-modal-bg {
  align-items: stretch;
}

.padding__large {
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .padding__large {
    padding: 60px 0;
  }
}
.padding__medium {
  padding: 80px 0;
}
.padding__small {
  padding: 60px 0;
}

.movieDetails__bottom .top_billed .card__container,
.movieDetails__bottom .facts,
.movieDetails__bottom .header h2,
.movieDetails__container .poster .blurred,
.consensus .user_score_chart .percent span,
.consensus .user_score_chart .percent,
.content,
.movieList .list__container,
.header__image,
.flexBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.movieApp {
  height: 100vh;
  overflow: hidden;
}

.header {
  background-color: #242424;
  padding: 10px;
}
.header__image {
  height: 50px;
}
.header__image {
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .header__image {
    justify-content: flex-start;
  }
}
.header .dropdown-container {
  position: relative;
  display: inline-block;
  width: 200px;
}
.header .dropdown-container .dropdown-toggle {
  background-color: #484848;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .dropdown-container .dropdown-toggle .arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}
.header .dropdown-container .dropdown-toggle .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.header .dropdown-container .dropdown-toggle .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.header .dropdown-container .dropdown-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 8px;
  width: 100%;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}
.header .dropdown-container .dropdown-menu .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.header .dropdown-container .dropdown-menu .loader span {
  margin-right: 10px;
}
.header .dropdown-container .dropdown-menu .loader .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #484848;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}
.header .dropdown-container .dropdown-menu .options {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.header .dropdown-container .dropdown-menu .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.header
  .dropdown-container
  .dropdown-menu
  .options
  .option
  input[type="checkbox"] {
  margin-right: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movieList {
  height: calc(100vh - 134px);
  padding-bottom: 30px;
  overflow: auto;
}
.movieList .list__year {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  background-color: #484848;
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
}
@media screen and (max-width: 767px) {
  .movieList .list__year {
    text-align: left;
  }
}
.movieList .list__container {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px -15px;
}
@media screen and (max-width: 1189px) and (min-width: 641px) {
  .movieList .list__container {
    margin: 0 -5px;
  }
}
@media screen and (max-width: 640px) and (min-width: 481px) {
  .movieList .list__container {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .movieList .list__container {
    margin: 0;
  }
}
.movieList .card {
  flex: 0 0 20%;
  width: 20%;
  margin-top: 30px;
  padding: 0 15px;
}
@media screen and (max-width: 991px) and (min-width: 641px) {
  .movieList .card {
    flex: 0 0 25%;
    width: 25%;
    padding: 0 10px;
  }
}
@media screen and (max-width: 640px) and (min-width: 481px) {
  .movieList .card {
    flex: 0 0 33.3333333333%;
    width: 33.3333333333%;
    padding: 0 5px;
  }
}
@media screen and (max-width: 480px) {
  .movieList .card {
    flex: 0 0 50%;
    width: 50%;
    padding: 0 5px;
    margin-top: 20px;
  }
}
.movieList .card__container {
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.movieList .card__list {
  margin: 30px -10px;
}
.movieList .card .image {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  min-height: 225px;
  height: 225px;
  background: #dbdbdb;
  overflow: hidden;
}
.movieList .card .image .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.movieList .card .image .wrapper .image {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.movieList .card .image .wrapper .image img {
  display: inline-block;
  width: 100%;
  height: fit-content;
}
.movieList .card .meta {
  padding: 8px 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movieList .card .meta p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
  margin: 0;
}
.movieList .card .meta p a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.content {
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  white-space: normal;
  align-content: flex-start;
  flex-wrap: wrap;
}
.content h2 {
  font-size: 1em;
  margin: 0;
  width: 100%;
  word-wrap: normal;
  overflow-wrap: break-word;
}
.content a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.content p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
}

.consensus {
  position: absolute;
  top: -19px;
  left: 10px;
}
.consensus .outer_ring {
  display: inline-block;
  width: 42px;
  height: 42px;
  padding: 2px;
  border-radius: 50%;
  background-color: #081c22;
}
.consensus .user_score_chart {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.consensus .user_score_chart canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.consensus .user_score_chart .percent {
  width: 100%;
  height: 100%;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
.consensus .user_score_chart .percent .circle-bg {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1;
}
.consensus .user_score_chart .percent .circle {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-in-out;
}
.consensus .user_score_chart .percent .percentage {
  fill: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: middle;
}
.consensus .user_score_chart .percent span {
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  padding-left: 1px;
  font-size: 10px;
  color: #ffffff;
}
.consensus .user_score_chart .percent span em {
  font-style: normal;
}

.one-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movieDetails {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 640px) {
  .movieDetails {
    max-width: 100% !important;
  }
}
.movieDetails .popup-modal-bg {
  padding: 10px;
  height: calc(100vh - 150px);
}
@media screen and (max-width: 640px) {
  .movieDetails .popup-modal-bg {
    max-width: 100% !important;
  }
}
.movieDetails .popup-modal-bg .popup-body {
  height: 100%;
}
.movieDetails__container {
  width: 100%;
  height: 100%;
}
.movieDetails__container .poster {
  height: 200px;
  position: relative;
}
.movieDetails__container .poster img {
  height: calc(100% - 20px);
}
.movieDetails__container .poster .image_content.backdrop {
  background-position: 100px 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 640px) {
  .movieDetails__container .poster .image_content.backdrop {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.movieDetails__container .poster .background_gradient {
  height: 100%;
}
.movieDetails__container .poster .blurred {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .movieDetails__container .poster .blurred {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
.movieDetails__top {
  position: relative;
}
.movieDetails__top .consensus {
  top: auto;
  left: auto;
  bottom: 30%;
  -webkit-transform: translate(5%, 50%);
  -moz-transform: translate(5%, 50%);
  -ms-transform: translate(5%, 50%);
  -o-transform: translate(5%, 50%);
  transform: translate(5%, 50%);
  right: 5%;
}
.movieDetails__top .consensus .outer_ring {
  width: 60px;
  height: 60px;
}
.movieDetails__bottom {
  position: relative;
  height: calc(100% - 200px);
  overflow: auto;
}
.movieDetails__bottom .content {
  flex-wrap: nowrap;
  justify-content: space-between;
}
.movieDetails__bottom .content .name {
  flex: 1;
  text-align: right;
}
.movieDetails__bottom .content p {
  width: 100% !important;
  font-size: 14px !important;
}
.movieDetails__bottom .header {
  padding: 0;
  background-color: #200b0b;
}
.movieDetails__bottom .header h2 {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 16px 20px;
  z-index: 4;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}
.movieDetails__bottom .header h2 .release_date {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 5px;
}
.movieDetails__bottom .facts {
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 10px;
  color: #ffffff;
}
.movieDetails__bottom .facts span {
  align-items: center;
  justify-content: center;
}
.movieDetails__bottom .facts span em {
  margin-left: 10px;
  font-style: unset;
}
.movieDetails__bottom .facts span:not(:last-child) {
  margin-bottom: 10px;
}
.movieDetails__bottom .header_info {
  padding: 20px 10px;
  color: #ffffff;
}
.movieDetails__bottom .header_info h3 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 10px 0;
}
.movieDetails__bottom .header_info h3.tagline {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  text-align: center;
}
.movieDetails__bottom .header_info .overview p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  width: 100%;
  color: #ffffff;
}
.movieDetails__bottom ol.people {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
.movieDetails__bottom ol.people.no_image {
  width: 100%;
  padding-bottom: 0;
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.movieDetails__bottom ol.people.no_image li {
  width: 50%;
  flex-basis: 50%;
  margin-bottom: 0;
  box-sizing: border-box;
}
.movieDetails__bottom ol.people.no_image li:nth-child(n + 3) p:first-child {
  padding-top: 20px;
}
.movieDetails__bottom ol.people.no_image li p {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  word-wrap: break-word;
  font-size: 16px;
  width: 100%;
  color: #ffffff;
  opacity: 0.8;
}
.movieDetails__bottom ol.people.no_image li p:first-child {
  font-weight: 700;
  opacity: 1;
}
.movieDetails__bottom ol.people.no_image li.profile:nth-child(odd) {
  padding-left: 0;
  padding-right: 10px;
}
.movieDetails__bottom .top_billed h3 {
  margin: 15px 0;
}
.movieDetails__bottom .top_billed .card__container {
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 !important;
}
.movieDetails__bottom .top_billed .card {
  width: 180px;
  min-width: 180px;
  padding: 0 10px;
}
.movieDetails__bottom .top_billed .card__people {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.movieDetails__bottom .top_billed .card__people .image {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movieDetails__bottom .top_billed .card__people .image img {
  display: inline-block;
  width: 100%;
  height: fit-content;
}
.movieDetails__bottom .top_billed .card__people .meta {
  padding: 8px 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movieDetails__bottom .top_billed .card__people .meta p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  line-height: 1.2em;
  margin: 0;
  font-size: 16px;

  font-family: "Open Sans", sans-serif;
}
.movieDetails__bottom .top_billed .card__people .meta p:not(:last-child) {
  font-weight: 700;
}
.movieDetails__bottom .top_billed .card__people .meta p a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.movieDetails__bottom .top_billed .card__container {
  padding-bottom: 15px;
}
